@charset "UTF-8";
@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}
@media (min-width:768px) and (max-width: 1199px) {
  .is-sp {
    display: none;
  }
}
@media screen and (max-width:767px) {
  .is-pc {
    display: none;
  }
}
body {
  font-size: 16px;
  color: #333;
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-top: 160px;
}
@media screen and (max-width:767px) {
  .section {
    margin-top: 80px;
  }
}

.primary-title,
.top-title,
.top-title-sp {
  font-family: "Italiana", serif;
  letter-spacing: 0.06em;
}

.header {
  padding: 20px 0;
}
@media screen and (max-width:767px) {
  .header {
    position: absolute;
    background: transparent;
  }
}

.header-inner {
  max-width: 980px;
}
@media (min-width:768px) and (max-width: 1199px) {
  .header-inner {
    padding: 0 40px;
  }
}

.header-nav {
  display: flex;
}

.header-nav-right {
  margin-left: auto;
}

.header-nav-ul {
  display: flex;
}

.header-nav-list + .header-nav-list {
  margin-left: 40px;
}

.header-nav-list-link {
  display: block;
  text-decoration: none;
  color: #333;
  position: relative;
}
.header-nav-list-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #cbbf6d;
  transition: width 0.3s 0s ease;
}
@media (min-width: 1200px) {
  .header-nav-list-link:hover::before {
    width: 8px;
  }
}

.header-nav-list-link-icon {
  transition: opacity 0.3s ease;
}
.header-nav-list-link-icon:hover {
  opacity: 0.7;
}

.header-nav-list-pic {
  width: 20px;
  margin-top: 3px;
}

.primary-title {
  font-size: 46px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.primary-title::after {
  content: "";
  height: 2px;
  width: 70px;
  border-radius: 5px;
  background: #cbbf6d;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dorawer-icon {
  position: fixed;
  z-index: 300;
  right: 60px;
  top: 60px;
  transition: transform 0.5s;
}
.dorawer-icon.is-active {
  transform: translateX(-200px);
  right: 0;
  top: 60px;
}
.dorawer-icon.is-active .header-ber-1 {
  transform: rotate(-45deg);
  top: 0px;
  transition: transform 0.4s;
}
.dorawer-icon.is-active .header-ber-2 {
  opacity: 0;
  transition: opacity 0.4s;
}
.dorawer-icon.is-active .header-ber-3 {
  transform: rotate(45deg);
  top: 0px;
  transition: transform 0.4s;
}

.header-bers {
  position: relative;
  height: 25px;
  width: 50px;
  display: block;
}

.header-ber-1,
.header-ber-2,
.header-ber-3 {
  position: absolute;
  width: 50px;
  height: 5px;
  background: #c4c4c4;
  top: 0;
  left: 0;
}

.header-ber-1 {
  transform: none;
  top: 0;
}

.header-ber-2 {
  top: 10px;
}

.header-ber-3 {
  transform: none;
  top: 20px;
}

.dorawer-content {
  width: 200px;
  height: 100%;
  background: #fff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 299;
  padding: 60px 0;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}
.dorawer-content.is-active {
  transform: translateX(0);
}

.dorawer-content__link {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.dorawer-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 298;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.dorawer-background.is-active {
  display: block;
}

.top {
  position: relative;
}

.top-picture {
}

@media (min-width: 1200px) {
  .top-picture {
    padding-top: 66.3333%;
    background: url(./mv.png) top right/70% no-repeat;
    position: relative;
  }
}
@media (min-width:768px) and (max-width: 1199px) {
  .top-picture {
    padding-top: 66.3333%;
    background: url(./mv.png) top right/70% no-repeat;
    position: relative;
  }
}
@media screen and (max-width:767px) {
  .top-picture {
    padding-top: 200.7009%;
    background: url(./mv-sp.png) no-repeat center center/contain;
  }
}
.top-picture::after {
  content: "";
  width: 4px;
  height: 80px;
  border-radius: 5px;
  background: #333;
  position: absolute;
  bottom: -46px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width:767px) {
  .top-picture::after {
    width: 4px;
    height: 60px;
    bottom: -35px;
  }
}

.top-message {
  position: absolute;
  top: 30%;
  left: 120px;
}
@media (min-width:768px) and (max-width: 1199px) {
  .top-message {
    left: 2%;
  }
}

.top-message-sp {
  position: absolute;
  top: 30%;
  left: 120px;
  overflow: hidden;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  max-height: 100%;
}

.top-title {
  font-size: 180px;
  position: relative;
  z-index: 10;
}

.top-title-sp {
  font-size: 180px;
  position: relative;
  z-index: 10;
  font-size: 13rem;
  line-height: 0.8;
  overflow-wrap: break-word;
}

.top-title-bg-pc {
  display: block;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width:767px) {
  .top-title-bg-pc {
    display: none;
  }
}

.top-title-bg-sp {
  display: block;
  width: 267px;
  height: 267px;
  background: rgba(196, 196, 196, 0.5);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0 0 0 100%;
  z-index: 100;
}

@media (min-width:768px) and (max-width: 1199px) {
  .top-title-bg-sp {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .top-title-bg-sp {
    display: none !important;
  }
}

.top-text {
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  right: -66px;
}

.top-text-sp {
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 40px;
  right: -66px;
  position: static;
  text-align: center;
  margin-top: 30px;
}

.about-wrapper {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  max-width: 1000px;
}

@media (min-width:768px) and (max-width: 1199px) {
  .about-wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width:767px) {
  .about-wrapper {
    display: block;
    padding: 0 40px;
  }
}

.about-left-picture {
  flex: 0 0 50%;
  text-align: right;
}

@media screen and (max-width:767px) {
  .about-left-picture {
    width: 100%;
    text-align: center;
  }
}

.about-left-img {
  max-width: 252px;
}

.about-right {
  flex: 0 1 100%;
  margin-left: 80px;
}

@media screen and (max-width:767px) {
  .about-right {
    margin-top: 16px;
    width: 100%;
    margin-left: 0;
  }
}

.about-right-name {
  font-size: 26px;
  font-weight: bold;
}

.about-right-text {
  margin-top: 10px;
}

.about-icon {
  text-align: right;
}

.about-icon-link {
  margin-left: 10px;
  display: inline-block;
  width: 20px;
}

.fa-solid {
  color: #333;
  transition: opacity 0.3s ease;
}

.fa-solid:hover {
  opacity: 0.7;
}

.service-inner {
  max-width: 980px;
}

.service-wrapper {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
}

@media (min-width:768px) and (max-width: 1199px) {
  .service-wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width:767px) {
  .service-wrapper {
    padding: 0 40px;
    margin-top: 20px;
  }
}

.service-item {
  border: 1px solid #333;
}

@media (min-width: 1200px) {
  .service-item {
    width: calc(25% - 15px);
  }
  .service-item + .service-item {
    margin-left: 20px;
  }
}

@media (min-width:768px) and (max-width: 1199px) {
  .service-item {
    width: calc(50% - 13.3333333333px);
  }
  .service-item:nth-child(2n) {
    margin-left: 20px;
  }
  .service-item:nth-child(n+3) {
    margin-top: 20px;
  }
}

@media screen and (max-width:767px) {
  .service-item {
    width: 100%;
    margin-top: 18px;
  }
}

.service-head {
  padding: 20px;
  height: 100px;
  text-align: center;
}

.service-menu {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  text-align: center;
}

.js-marker {
  display: inline;
  position: relative;
  background-image: linear-gradient(90deg, #00fffa, #00c8ff); /* 単色の場合は同じ色、グラデーションさせる場合は別々の色 */
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0 30%; /* '30%'の部分にマーカーの太さを記入 */
  font-weight: bold; /* ついでに太字にしたい場合 */
  /* アニメーション発火時 */
}

@media (min-width:768px) and (max-width: 1199px) {
  .js-marker {
    transition: all 1s ease-in-out; /* マーカーを引く速度を調整 */
  }
}

@media screen and (max-width:767px) {
  .js-marker {
    transition: all 1s ease-in-out; /* マーカーを引く速度を調整 */
  }
}

.js-marker.inview {
  background-size: 100% 30%; /* '30%'の部分は上で設定した太さに合わせる */
}

.service-menu1,
.service-menu2,
.service-menu3 {
  line-height: 60px;
}

@media (min-width: 1200px) {
  .service-menu1 {
    transition: all 1s ease-in-out;
  }
}

@media (min-width: 1200px) {
  .service-menu2 {
    transition: all 1s ease-in-out 0.2s;
  }
}

@media (min-width: 1200px) {
  .service-menu3 {
    transition: all 1s ease-in-out 0.8s;
  }
}

@media (min-width: 1200px) {
  .service-menu4 {
    transition: all 1s ease-in-out 1.5s;
  }
}

.service-body {
  padding: 10px 20px;
}

.service-menu-p {
  font-size: 12px;
  margin-top: auto;
  height: 90px;
}
@media (min-width:768px) and (max-width: 1199px) {
  .service-menu-p {
    height: 70px;
  }
}
@media screen and (max-width:767px) {
  .service-menu-p {
    height: 70px;
  }
}

.fa-right {
  margin-right: 8px;
}

.work-inner {
  max-width: 980px;
}
@media (min-width:768px) and (max-width: 1199px) {
  .work-inner {
    padding: 0 40px;
  }
}
@media screen and (max-width:767px) {
  .work-inner {
    padding: 0 40px;
  }
}

.work-wrapper {
  margin-top: 60px;
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width:767px) {
  .work-wrapper {
    display: block;
  }
}

@media (min-width: 1200px) {
  .work-item {
    width: calc(33.3333% - 13.3333333333px);
  }
  .work-item:not(:nth-child(3n+1)) {
    margin-left: 20px;
  }
  .work-item:nth-child(n+4) {
    margin-top: 13px;
  }
  .work-item:hover .mask {
    opacity: 1;
  }
}

@media (min-width:768px) and (max-width: 1199px) {
  .work-item {
    width: calc(50% - 10px);
  }
  .work-item:not(:nth-child(2n+1)) {
    margin-left: 20px;
  }
  .work-item:nth-child(n+3) {
    margin-top: 13px;
  }
}

.work-item-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.work-item-img {
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-item-img-lp {
  -o-object-position: left top;
     object-position: left top;
}

.swiper-wrap {
  position: relative;
}

@media (min-width: 1200px) {
  .swiper-scrollbar {
    display: none;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  margin-top: 0;
}

@media (min-width:768px) and (max-width: 1199px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  background: url(/img/next.png) no-repeat center center/contain;
  transition: right 0.4s 0s ease;
  right: -40px;
  top: 49%;
}

.swiper-button-next::after {
  content: "";
}

.swiper-button-next:hover {
  right: -48px;
}

.swiper-button-prev {
  background: url(/img/prev.png) no-repeat center center/contain;
  transition: left 0.4s 0s ease;
  left: -40px;
  top: 49%;
}

.swiper-button-prev::after {
  content: "";
}

.swiper-button-prev:hover {
  left: -48px;
}

.swiper-pagination-bullet {
  background: rgba(196, 196, 196, 0.5);
  width: 14px;
  height: 14px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 20px;
}

.swiper-horizontal > .swiper-scrollbar {
  top: 35px;
}

@media (min-width:768px) and (max-width: 1199px) {
  .swiper-pagination {
    display: none;
  }
}
@media screen and (max-width:767px) {
  .swiper-pagination {
    display: none;
  }
}

.mask {
  position: absolute;
  padding: 20px;
  left: 0;
  top: 0%;
  width: 100%;
  height: 320px;
  background: rgba(196, 196, 196, 0.5);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s 0s ease;
  overflow: hidden;
}

.mask-text {
  color: rgb(30, 30, 30);
  font-size: 20px;
}

.subcaption {
  font-size: 14px;
}

@media screen and (max-width:767px) {
  .modaal-content-container {
    padding: 15px;
  }
}

.work-item-modal {
  width: 100%;
  height: 100%;
}

.modal-item-wrap {
  background: #fff;
  display: flex;
  padding: 20px;
}
@media screen and (max-width:767px) {
  .modal-item-wrap {
    display: block;
    padding: 0;
  }
}

.modal-img {
  border: 1px solid #333;
  padding: 20px;
  width: 70%;
}

@media screen and (max-width:767px) {
  .modal-img {
    padding: 10px;
    width: 100%;
  }
}

.modal-img img {
  width: 100%;
}

.modal-item-body {
  margin-left: 30px;
  width: 30%;
}

@media screen and (max-width:767px) {
  .modal-item-body {
    margin-top: 8px;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
}

.modal-title {
  font-size: 20px;
  line-height: 25px;
}

.modal-text {
  margin-top: 16px;
  line-height: 25px;
  font-size: 14px;
}

@media screen and (max-width:767px) {
  .modal-text {
    margin-top: 8px;
  }
}

.work-modal-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width:768px) and (max-width: 1199px) {
  .modaal-close {
    right: 35px;
  }
}

@media screen and (max-width:767px) {
  .modaal-close {
    right: 35px;
  }
}

@media (min-width:768px) and (max-width: 1199px) {
  .modaal-close::before {
    background: #b93d0c;
  }
}

@media screen and (max-width:767px) {
  .modaal-close::before {
    background: #b93d0c;
  }
}

@media (min-width:768px) and (max-width: 1199px) {
  .modaal-close::after {
    background: #b93d0c;
  }
}

@media screen and (max-width:767px) {
  .modaal-close::after {
    background: #b93d0c;
  }
}

@media (min-width:768px) and (max-width: 1199px) {
  .modaal-wrapper .modaal-close {
    border: 1px solid #333;
  }
}

@media screen and (max-width:767px) {
  .modaal-wrapper .modaal-close {
    border: 1px solid #333;
  }
}

.contact {
  padding-bottom: 40px;
}

.contact input[type=text],
.contact input[type=email],
.contact textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #333;
  padding: 0.4em 0.4em;
}

.contact input[type=text],
.contact input[type=email] {
  height: 22px;
}

.contact textarea {
  height: 150px;
  margin-top: 5px;
}

@media screen and (max-width:767px) {
  .contact textarea {
    font-weight: normal;
  }
}

@media (min-width:768px) and (max-width: 1199px) {
  .contact-inner {
    padding: 0 40px;
  }
}

@media screen and (max-width:767px) {
  .contact-inner {
    padding: 0 40px;
  }
}

.contact-form {
  width: 500px;
  max-width: 100%;
  margin: 25px auto;
}

.contact-text {
  text-align: center;
  font-size: 14px;
}

.contact-subtext {
  text-align: center;
  font-size: 12px;
}

.contact-item {
  display: flex;
}

.contact-item + .contact-item {
  margin-top: 8px;
}

@media screen and (max-width:767px) {
  .contact-item {
    display: block;
  }
}

.contact-list {
  margin-top: 50px;
}

@media screen and (max-width:767px) {
  .contact-list {
    margin-top: 25px;
  }
}

.cotact-itam-title {
  width: 150px;
  font-size: 14px;
}

.contact-required {
  color: #c93659;
}

.contact-item-input {
  width: calc(100% - 200px);
}

@media screen and (max-width:767px) {
  .contact-item-input {
    width: 100%;
  }
}

.contact-footer-submit {
  text-align: center;
  margin-top: 10px;
}

.contact-footer-btn {
  width: 150px;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #333;
  cursor: pointer;
  background: transparent;
}

.contact-footer-btn.-active {
  color: #fff;
  background: #072145;
}

.contact-massage {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-massage.-error {
  color: #f00;
}

.footer {
  padding: 20px 40px;
}

.footer-inner {
  text-align: right;
}

.to-top-link {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: bottom 0.3s 0s ease;
  z-index: 288;
}

.to-top-link img {
  width: 60px;
}

@media screen and (max-width:767px) {
  .to-top-link img {
    width: 50px;
  }
}

@media (min-width: 1200px) {
  .to-top-link:hover {
    bottom: 30px;
  }
}
